#include <Arduino_ConnectionHandler.h>

#define THING_ID "***"
#define BOARD_ID "***"

/* MKR1000, MKR WiFi 1010 */
#if defined(BOARD_HAS_WIFI)
  #define SECRET_SSID "***"
  #define SECRET_PASS "***"
#endif
